.note-list {
    max-width: 400px;
  }
  
  .note div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .note div span {
    max-width: 250px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: .5rem;
    color: rgb(110, 109, 109);
    background-color: rgb(229, 234, 239);
    box-shadow: 5px 5px 10px #a1a1a1;
    backdrop-filter: blur(15px);
  }

  .note div span:hover {
    transition: .2s ease;
    background-color: rgb(221, 223, 225);
  }
  .note div button {
    width: 60px;
    height: 25px;
    color: rgb(110, 109, 109);
    border-color: lightgrey;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #a1a1a1;
  }
  .note div button:hover {
    box-shadow: inset 2px 2px 5px #888; 
  }