.note-list {
    max-width: 400px;
  }
  
  .note div {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }
  .note div span {
    max-width: 250px;
    word-wrap: break-word;
    padding: 10px;
    border-radius: .5rem;
    color: rgb(110, 109, 109);
    background-color: rgb(229, 234, 239);
  }
  .note div button {
    width: 50px;
    height: 20px;
    color: rgb(110, 109, 109);
    border-color: lightgrey;
    border-radius: 4px;
  }