:root {
  box-sizing: border-box;
  font-family: sans-serif;
  --bg-color: rgb(229, 239, 247);
  --box-shadow-color: #a1a1a1;
}

body.light {
  background-color: rgb(255, 255, 255);
}

body.dark { 
  background-color: rgb(62, 61, 61);
  --bg-color: rgb(185, 180, 199);
  --box-shadow-color: 'none';
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-height: 500px;
  margin: 0 auto;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
  background-color: var(--bg-color)
}
