form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  form textarea {
    min-width: 350px;
    min-height: 80px;
    margin-bottom: .5rem;
  }
  
  /* input styling */
  input[type="text"] {
    width: 250px; /* Belirttiğiniz genişlik */
    overflow: auto; /* Taşan metin için kaydırma çubuğunu etkinleştirin */
  }

  .formButton {
    width: 60px;
    height: 25px;
    color: rgb(110, 109, 109);
    border-color: lightgrey;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #a1a1a1;
  }
  .formButton:hover {
    box-shadow: inset 2px 2px 5px #888; 
  }